<div class="panel panel-info" >
  <div class="panel-heading" >
    <h2 class="panel-title" >Страны</h2>
  </div>
  <div class="panel-body" >
    <select class="form-control" onchange="" >
      <% @document_templates.each do |doc| %>
        <option><%= doc.name %></option>
      <% end %>
    </select>
  </div>
</div>
