<div class="panel panel-info" >
  <div class="panel-heading" >
    <h2 class="panel-title" >Страны</h2>
  </div>
  <div class="panel-body" >
    <div class="panel" >
      <div class="panel-heading">
        <select class="form-control" onchange="get_country_data(this.options[this.selectedIndex].value)" >
          <option value="" >Выбирите страну</option>
          <% @document_templates.each do |doc| 
		if doc.document_type == "visa"%>
            <option value="<%= doc.id %>" ><%= doc.name %></option>
        	<%end
 	    end %>
        </select>
      </div>
      <div id="info" class="panel-body" >
      </div>
    </div>
  </div>
</div>
