<div class="panel panel-info" >
  <div class="panel-heading" >
    <h2 class="panel-title" >Список клиентов</h2>
  </div>
  <div class="panel-body" >
    <table class="table table-hover" >
      <thead>
        <tr>
          <th>ФИО</td>
          <th>Делается документ</td>
        </tr>
        <% if @user.role == "manager" %>
          <tr>
            <td>
              <%= link_to new_manager_client_path(@manager),
                class: "btn btn-success btn-xs" do %>
                <span class="glyphicon glyphicon-plus" ></span>
                Новый клиент
              <% end %>
            </td>
          </tr>
        <% end%>
      </thead>
      <tbody>
      <% @manager.clients.each do |client| %>
      <tr>
        <td><%= link_to client.fio, client_path(client) %></td>
        <% doc = client.get_last_document_status %>
        <% if doc != nil %>
          <td><%= link_to doc[:document_string], document_order_path(doc[:document]) %></td>
        <% else %>
          <td>Нет</td>
        <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
