<div class="panel panel-info" >
  <div class="panel-heading" >
    <h2 class="panel-title" >Страны</h2>
  </div>
  <div class="panel-body" >
    <table class="table table-hover" >
      <thead>
        <tr>
          <th>Страна</td>
          <th>Справочная информация</td>
        </tr>
      </thead>
      <tbody>
      <% @document_templates.each do |doc| %>
      <tr>
        <td><%= doc.name %></td>
        <% if doc.description_link != nil %>
          <td><%= link_to "Скачать", "/info/#{doc.description_link}" %></td>
        <% else %>
          <td>Недоступно</td>
        <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
