<div class="panel panel-info" >
  <div class="panel-heading" >
    <ul id="pillsMenu" class="nav nav-pills" >
      <li class="active" ><a href="#general" data-toggle="tab" >Основные</a></li>
      <li><a href="#foreign" data-toggle="tab" >Загранпаспорт</a></li>
      <li><a href="#visa" data-toggle="tab" >Шенген</a></li>
    </ul>
  </div>
  <div class="panel-body tab-content" id="pillsMenuContent" >
    <div class="tab-pane fade active in" id="general" >
      <div class="container" >
        <%= render 'client_info_general' %>
      </div>
    </div>
    <div class="tab-pane fade" id="foreign" >
      <div class="container" >
        <%= render 'client_info_foreign' %>
      </div>
    </div>
    <div class="tab-pane fade" id="visa" >
      <div class="container" >
        <%= render 'client_info_visa' %>
      </div>
    </div>
  </div>
</div>
