<div class="panel panel-info" >
  <div class="panel-heading" >
    <h4>Список документов</h4>
  </div>
  <div class="panel-body" >
    <table class="table" >
      <thead>
        <tr>
          <th>Id</th>
          <th>Документ</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
      <% @client.document_orders.each do |doc| %>
        <tr>
          <td><%= doc.id %></td>
          <td><%= doc.document_template.name %></td>
          <td><%= doc.status %></td>
        </tr>
      <% end %>
        <tr>
          <td>
            <%= link_to new_company_manager_client_document_order_path(@client.manager.company, @client.manager, @client),
              class: "btn btn-success btn-xs" do %>
              <span class="glyphicon glyphicon-plus"></span>
              Создать
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
