<div class="panel panel-info" >
  <div class="panel-heading" >
    <h4>Список документов</h4>
  </div>
  <div class="panel-body" >
    <table class="table table-hover" >
      <% if @user.role == "manager" %>
        <thead>
          <tr>
            <td>
              <%= link_to new_client_document_order_path(@client),
                class: "btn btn-success btn-xs" do %>
                <span class="glyphicon glyphicon-plus"></span>
                Создать документ
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Документ</th>
            <th>Статус</th>
            <th>Комментарий</th>
          </tr>
        </thead>
      <% end %>
      <tbody>
      <% @client.document_orders.each do |doc| %>
        <tr>
          <td><%= link_to doc.document_template.name, document_order_path(doc) %></td>
          <td><%= doc.status %></td>
          <td><%= doc.comments %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
