<div class="btn_group btn-group-vertical">
  <%= link_to "Скачать pdf", doc_document_order_path(@order), class: "btn btn-info" %>
  <%= link_to "Скачать asdasdasd pdf", doc_document_order_path(@order), class: "btn btn-info" %>
</div>
