<div class="btn_group btn-group-vertical">
  <%= link_to "Анкета на визу", doc_document_order_path(@order), class: "btn btn-info" %>
  <%= link_to "Договор на визу", visacontr_document_order_path(@order), class: "btn btn-info" %>
</div>
