<h3>Документ</h3>
<table class="table" >
  <tr>
    <td class="col-sm-2" >Тип документа</td>
    <td><%= @order.document_template.name %></td>
  </tr>
  <tr>
    <td>Комментарий</td>
    <td>
      <%= form_for @order, html: {class: "form-horizontal"} do |f| %>
        <div class="input-group" >
          <%= f.text_area :comments, class: "form-control" %>
          <span class="input-group-btn" >
            <%= f.submit "Сохранить", class: "btn btn-success" %>
          </span>
        </div>
      <% end %>
    </td>
  </tr>
</table>
