
@import url(http://fonts.googleapis.com/css?family=Cookie);

@font-face
{
	font-family: 'HoneyScript-SemiBold';
	src: url(/fonts/HoneyScript-SemiBold.ttf);
}

.brand-font
{
	font-family: 'Cookie', 'HoneyScript-SemiBold';
	font-size: 32pt;
}
