
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(/fonts/Cookie.woff) format('woff');
}

@font-face
{
	font-family: 'HoneyScript-SemiBold';
	src: url(/fonts/HoneyScript-SemiBold.ttf);
}

.brand-font
{
	font-family: 'Cookie', 'HoneyScript-SemiBold';
	font-size: 32pt;
}
